<div [bgCarousel]="['rgb(0, 255, 255)', 'rgb(255, 0, 255)']">
    <div style='border: 1px solid;width:max-content;' moveable>
        <h2>Move me</h2>
    </div>
    <button mat-raised-button color="primary" confirmDialog="Are you sure?" (confirmed)="dialogTest($event)">Open mat dialog</button>
    <br>
    <br>
    <div>Blocked pasting</div>
    <textarea blockPaste></textarea>

</div>
<div>
    <div style='border: 1px solid;width:max-content;' moveable>
        <h2>Move me</h2>
    </div>
</div>
<br>
Enter webiste url
<input [formControl]="form" type="url" required />{{form.errors|json}}
<br>
Enter you phone number
<input [formControl]="telForm" type='tel' pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" />{{telForm.errors|json}}